body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #000;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  background-color: #34a0a4;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #386641;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #40916c;
}

.footer {
  background-color: #40916c;
  text-align: center;
  padding: 20px;
  color: white;
}

.footer a {
  color: pink;
}

.btn {
  display: inline-block;
  background: #283618;
  color: #e9edc9;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.btn-edit-status {
  background: #f3de2c;
  color: black;
}

.btn-top {
  background: #283618;
  color: #e9edc9;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.btn-top:hover {
  background-color: #2d6a4f;
}

.btn-top:active {
  background: #606c38;
  transform: scale(0.95);
}

.btn:hover {
  background-color: #2d6a4f;
}

.btn:active {
  background: #606c38;
  transform: scale(0.95);
}

.btn-block {
  display: block;
  width: 100%;
}

.form {
  background: #b5e48c;
  margin: 20px;
  padding: 10px 20px;
  box-shadow: 5px 10px 2px;
  border-style: solid;
  border-color: black;
}

.form.comment-container {
  background: #bfd8bd;
}

.form.highNeeds {
  border-left: 5px solid green;
  background: #80ffdb;
}

.form.form-creator {
  padding-left: 15px;
  background: #000;
  color: white;
  margin: 10px 0;
  box-shadow: 0px 0px 0px;
}

.form h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio {
  padding: 10px 20px;
  justify-content: space-between;
}

.status-all {
  border-radius: 4px;
  padding: 6px;
}

.requested {
  background: #ffb703;
}

.approved {
  background: #cdb4db;
}

.completed {
  background: #a7c957;
}

.rejected {
  background: #e63946;
}

.comment {
  background: #60d394;
  padding: 10px 10px;
}

.admin {
  background: #CBBFBB;
  padding: 10px 10px;
}

.comment h3 {
  align-items: center;
  justify-content: space-between;
}

.description {
  background: #caf0f8;
  margin: 0;
  padding: 10px 30px;
  font-size: 0.7rem;
  border-style: solid;
  border-color: black;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  /* display: block; */
  font-size: 1rem;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control select {
  width: 20%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  /* align-items: center; */
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.errorMessage {
  margin: 100px 5px;
  padding: 3px;
  border-style: solid;
  border-color: #000;
  background-color: #f08080;
  color: #660708;
}
